<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Train</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <a class="navbar-brand" href="#">Register</a>
    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/trains}">Train edition</a>
            </li>
        </ul>
    </div>
</nav>
<br>
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
            <h1 class="text-center">Train edition</h1>
            <div class="card-body">
                <form th:action="@{/trains/{idTrain}(idTrain=${train.idTrain})}" th:objet="${train}" method="POST">
                    <div class="form-group">
                        <label>stations : </label>
                        <input type="text" name="stations" th:field="*{train.stations}" class="from-control" placeholder="Digite el numero de estaciones " required>
                    </div>
                    <br>
                    <div class="form-group">
                        <label>seats : </label>
                        <input type="text" name="seats" th:field="*{train.seats}" class="from-control" placeholder="Digite el numero de asientso" required>
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="idStation">Station Destination:</label>
                        <select id="idStation" name="idStation" class="form-control" required>
                            <option th:each="station : ${allStations}" th:value="${station.idStation}" th:text="${station.getNameStation()}"></option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="idStation2">Station Origin:</label>
                        <select id="idStation2" name="idStation2" class="form-control" required>
                            <option th:each="station2 : ${allStations}" th:value="${station2.idStation}" th:text="${station2.nameStation}"></option>
                        </select>
                    </div>
                    <div class="box-footer">
                        <br>
                        <button class="btn btn-success" type="submit">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>