<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <!-- Latest compiled and minified CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style>
        body {
            padding-top: 70px; /* Ajusta el espacio para la barra de navegación */
        }
    </style>
</head>
<body>
<div class="container">
    <!-- Otros elementos aquí -->

    <!-- Agregar una imagen con Thymeleaf -->
    <img th:src="@{descarga.png}" alt="Logo">
</div>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#" th:href="@{/}">HOME</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="navbar-nav">
                <li class="nav-item" th:if="${userRoles.contains('ADMIN')}"><a class="nav-link" th:href="@{/trains}">Trains</a></li>
                <li class="nav-item" th:if="${userRoles.contains('ADMIN')}"><a class="nav-link" th:href="@{/stations}">Stations</a></li>
                <li class="nav-item" th:if="${userRoles.contains('ADMIN')}"><a class="nav-link" th:href="@{/passengers}">passengers</a></li>
                <li class="nav-item" th:if="${userRoles.contains('ADMIN')}"><a class="nav-link" th:href="@{/tickets}">Tickets</a></li>
                <li class="nav-item" th:if="${userRoles.contains('ADMIN')}"><a class="nav-link" th:href="@{/schedules}">Schedules</a></li>
                <li class="nav-item" th:if="${userRoles.contains('USER')}"><a class="nav-link" th:href="@{/schedules}">Schedules</a></li>
                <li class="nav-item" th:if="${userRoles.contains('USER')}"><a class="nav-link" th:href="@{/userTickets}">User Tickets</a></li>


                <!-- Agrega más enlaces aquí según tus necesidades -->
            </ul>
            <form class="ms-auto me-3" th:action="@{/logout}" method="post">
                <input type="submit" class="btn btn-danger" value="Logout" />
            </form>
        </div>
    </div>
</nav>

<div class="container">
    <h1>Welcome</h1>
    <div th:if="${#authentication.isAuthenticated()}">
        <p>Usuario: <span th:text="${#authentication.name}"></span></p>
        <div th:if="${userRoles.contains('ADMIN')}">
            <p th:text="'Welcome, admin ' + ${#authentication.getName()} + '!'"></p>
            <!-- Puedes agregar más contenido específico para administradores aquí -->
        </div>
    </div>
<div th:if="${#authentication.isAuthenticated()}">
        <p>Usuario: <span th:text="${#authentication.name}"></span></p>
        <div th:if="${userRoles.contains('USER')}">
            <p th:text="'Welcome, user ' + ${#authentication.getName()} + '!'"></p>
            <!-- Puedes agregar más contenido específico para usuarios aquí -->
        </div>
    </div>
    <form th:action="@{/schedules/search}" method="get">
        <div class="mb-3">
            <label for="originName" class="form-label">Origin Station</label>
            <select class="form-select" id="originName" name="originName">
                <option value="" selected>Select Origin Station</option>
                <!-- Itera a través de la lista de estaciones y llena las opciones del menú desplegable -->
                <option th:each="station : ${allStations}" th:value="${station.nameStation}" th:text="${station.nameStation}"></option>
            </select>
        </div>
        <div class="mb-3">
            <label for="destinationName" class="form-label">Destination Station</label>
            <select class="form-select" id="destinationName" name="destinationName">
                <option value="" selected>Select Destination Station</option>
                <!-- Itera a través de la lista de estaciones y llena las opciones del menú desplegable -->
                <option th:each="station : ${allStations}" th:value="${station.nameStation}" th:text="${station.nameStation}"></option>
            </select>
        </div>
        <div class="mb-3">
            <label for="date" class="form-label">Date</label>
            <input type="date" class="form-control" id="date" name="date">
        </div>
        <button type="submit" class="btn btn-primary">Search Schedules</button>
    </form>
    <!-- Lista de horarios obtenidos de la búsqueda -->
    <div th:if="${schedules}">
        <h2>Searched Schedules:</h2>
        <ul>
            <li th:each="schedule : ${schedules}" th:text="${schedule.time} + ' - ' + ${schedule.idTrain.nameTrain}"></li>
        </ul>
    </div>
    <div th:unless="${#authentication.isAuthenticated()}">
        <p>No has iniciado sesión.</p>
        <!-- Puedes agregar contenido adicional para usuarios no autenticados aquí -->
    </div>
</div>
<!-- Latest compiled and minified JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-eMqA4dVBsmpb7Pi4rE9S1PukeYVRZ5eAByhAuV6Z9g/Di5I/GD04PAnfUKlepZl" crossorigin="anonymous"></script>
</body>
</html>
