<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Railway Station</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row">
                <h1 class="text-center">Railway Station</h1>
            </div>
        <div class="row">
            <div class="col-lg-3">
                <a th:href="@{/trains/createTrain}" class="btn btn-primary btn-sm mb3">new train</a>
               </div>
        </div>
        <br>
        <table class="table table-striped table-bordered">
            <thead class="table-dark">
            <tr>
                <th scope="col">idTrain</th>
                <th scope="col">stations</th>
                <th scope="col">seats</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="train : ${trains}">
                <td th:text="${train.idTrain}"></td>
                <td th:text="${train.stations}"></td>
                <td th:text="${train.seats}"></td>
                <td>
                    <a th:href="@{/trains/edit/{idTrain}(idTrain=${train.idTrain})}" class="btn btn-info">Edit</a>
                    <a th:href="@{/trains/{idTrain}(idTrain=${train.idTrain})}" class="btn btn-danger">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>