<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Tickets</title>
  <!-- Latest compiled and minified CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <style>
    body {
      padding-top: 70px; /* Ajusta el espacio para la barra de navegación */
    }
  </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#" th:href="@{/}">HOME</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="navbar-nav">
        <li class="nav-item" ><a class="nav-link" th:href="@{/schedules}">Schedules</a></li>

        <!-- Agrega más enlaces aquí según tus necesidades -->
      </ul>
      <form class="ms-auto me-3" th:action="@{/logout}" method="post">
        <input type="submit" class="btn btn-danger" value="Logout" />
      </form>
    </div>
  </div>
</nav>

<div class="container mt-5">
  <h2>Tickets Information</h2>
  <table class="table">
    <thead>
    <tr>
      <th>ID Ticket</th>
      <th>Origin</th>
      <th>Destination</th>
      <th>Admin Name</th>
    </tr>
    </thead>
    <tbody>
    <!-- Itera sobre la lista de tickets y muestra la información en la tabla -->
    <tr th:each="ticket : ${userTickets}">
      <td th:text="${ticket.idTicket}"></td>
      <td th:text="${ticket.idTrain.nameStationOrigin}"></td>
        <td th:text="${ticket.idTrain.nameStationDestination}"></td>
      <td th:text="${ticket.idPassengers.idAdmin.name}"></td>
      <!-- Agrega más columnas según tus necesidades -->
      <td>
        <a th:href="@{/userTickets/{idTicket}(idTicket=${ticket.idTicket})}" class="btn btn-danger">Delete</a>

      </td>
    </tr>
    </tbody>
  </table>
</div>

</body>
</html>
